<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">


<tbody>
<!--     <tr th:each="doc : ${completedoc}" class="completedoc"> -->
<!--     	<td th:text="${doc.docnum}"></td> -->
<!--     	<td th:text="${doc.doctitle}"></td> -->
<!--     	<th th:text="${doc.docdrafter.hdname}"></th> -->
<!--     	<td th:text="${doc.docdate}"></td> -->
    	
<!--     	<th:block th:if="${doc.docstatus == 3}"> -->
<!--     	<td th:text="최종"></td> -->
<!--     	</th:block> -->
<!--     </tr> -->




<tr>
	<td th:text="${test}"></td>
	<td th:text="asdfasdf"></td>
	<td th:text="${test}"></td>
	<td th:text="asdfasdf"></td>
	<td th:text="${test}"></td>
</tr>
</tbody>



</html>