<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
	<configuration>
		<typeAliases>
			<package name="hd.erp.dto"/>
			<package name="hd.erp.entity" />
<!-- 			<typeAlias type="hd.erp.entity.TestEntitiy" alias="test"/> -->
		</typeAliases>
		<mappers>
			<mapper resource="mapper/defaultmapper.xml"/>
			<mapper resource="mapper/Hierarchical.xml"/>
			<mapper resource="mapper/MemberManageMapper.xml"/>
		</mappers>
	</configuration>