<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorator="~{layouts/layout}">
<th:block layout:fragment="content">
		<div class="header"> 
		
                        <h1 class="page-header">
                            Dashboard <small>Welcome John 윤</small>
                        </h1>
						<ol class="breadcrumb">
					  <li><a href="#">Home</a></li>
					  <li><a href="#">Dashboard</a></li>
					  <li class="active">Data</li>
					</ol> 
									
		</div>
            <div id="page-inner">
<!--             	<h1> 하이루</h1> -->
            	
			  
				

				<div class="jumbotron">
                        <h1 th:text="${board.btitle}">제목</h1>
<!--                         <p th:text="${board.bcontent}" >내용</p> -->
<!--                         <pre th:text="${board.bcontent}"></pre> -->
                        <th:block th:utext="${board.bcontent}"></th:block>
<!--                         <th:block th:text="${#strings.escapeXml(board.bcontent)}"></th:block> -->
<!--                        <p id="asdf"></p> -->
<!--                         <p> -->
<!--                             <a class="btn btn-primary btn-lg" role="button">Learn more</a> -->
<!--                         </p> -->
              	</div> 	
                <!-- /. ROW  -->

<!-- 	   			<div id="morris-bar-chart" style="visibility: hidden; width: 0; height: 0;"></div> -->
<!-- 				<div id="morris-line-chart" style="visibility: hidden; width: 0; height: 0;"></div> -->
<!-- 				<div id="morris-area-chart" style="visibility: hidden; width: 0; height: 0;"></div> -->
<!-- 				 <div id="morris-donut-chart" style="visibility: hidden; width: 0; height: 0;"></div> -->

                <!-- /. ROW  -->
            </div>
          
				 
           
</th:block>

<th:block layout:fragment="script">
 <script>
            
			window.onload=function(){
				/*<![CDATA[*/
				var e ="[[ ${board.bcontent} ]]";
				/*]]>*/
				console.log(e)
				$('#asdf').text(e)
				//$('#asdf').val("sdf")
			}
			
			</script>


</th:block>

</html>