<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorator="~{layouts/layout}">
<th:block layout:fragment="content">
		<div class="header"> 
		
                        <h1 class="page-header">
<!--                             Dashboard <small>Welcome John 윤</small> -->
                        </h1>
						<ol class="breadcrumb">
					  <li>게시판 상세보기</li>
					</ol> 
									
		</div>
            <div id="page-inner">
<!--             	<h1> 하이루</h1> -->
            	
			  
				

				<div class="jumbotron">
                        <h1 th:text="${board.btitle}">제목</h1>
<!-- 						<h2 th:text="${board.employee.hdname}"></h2> -->
                        <span th:text="${board.employee.hdname}" ></span><span> 님 이 작성함</span>
                        
                        <hr />
                        <th:block th:utext="${board.bcontent}"></th:block>

              	</div > 	
              	<div class="row">
              	<div  class="col-sm-4">
<!--               	<a th:href="@{/user.board(nowpage=(${session.nowpage}))}"><button type="button" class="btn btn-lg btn-primary" disabled>뒤로가기</button></a> -->
<a th:href="@{/user.board(nowpage=${nowpage})}"><button type="button" class="btn btn-lg btn-primary" disabled>뒤로가기</button></a>
<!-- <a th:href="@{/user.board(nowpage=(${#httpServletRequest.getParameter('nowpage')}))}"><button type="button" class="btn btn-lg btn-primary" disabled>뒤로가기</button></a> -->
              	</div>
              	<div  class="col-sm-4">
              	
              	
              	<th:block th:if = "${who} == ${writer} " >
              			<a th:href="@{/user.boardupdate(bnum=${board.bnum})}"><button type="button" class="btn btn-lg btn-info" disabled>수    정</button></a>
              	</th:block>
              	<th:block th:unless = "${who} == ${writer} ">
              	<th:block sec:authorize="hasRole('ROLE_ADMIN')">
              			<a th:href="@{/user.boardupdate(bnum=${board.bnum})}"><button type="button" class="btn btn-lg btn-info" disabled>수    정</button></a>
              	</th:block>
              	</th:block>
              	
              	</div>
              	<div  class="col-sm-4">
              	
              	<th:block th:if = "${who} == ${writer} " >
              			<a th:href="@{/user.boarddelete(bnum=${board.bnum})}"><button type="button" class="btn btn-lg btn-warning" disabled>삭    제</button></a>
              	</th:block>
              	<th:block th:unless = "${who} == ${writer} ">
              	<th:block sec:authorize="hasRole('ROLE_ADMIN')">
              			<a th:href="@{/user.boarddelete(bnum=${board.bnum})}"><button type="button" class="btn btn-lg btn-warning" disabled>삭    제</button></a>
              	</th:block>
              	</th:block>
              	
              	
              	
              	</div>
<!--               	<div  class="col-sm-3"> -->
<!--               	<button type="button" class="btn btn-lg btn-primary" disabled>Primary button</button> -->
<!--               	</div> -->
              	
				</div>
								<hr />
								
								
					<div class="row">

						  <div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
							 댓글들
							</div>        
							  
							<div class="panel-body"> 
								<th:block th:each="bcomment: ${bcomments}">
								<hr />
								<th:block th:if="${bcomment.bcdepth} == '2' ">
								<div style="width: 50px; display: inline-block;"></div>
								</th:block>
								<th:block th:if="${bcomment.bcdepth} == '3' ">
								<div style="width: 100px; display: inline-block;"></div>
								</th:block>
								<th:block th:if="${bcomment.bcdepth} == '4' ">
								<div style="width: 150px; display: inline-block;"></div>
								</th:block>
								<th:block th:if="${bcomment.bcdepth} > '4' ">
								<div style="width: 200px; display: inline-block;"></div>
								</th:block>
								
								
								<div style="border: 0px solid black; display: inline-block;" >
								
								
								<strong th:text="${bcomment.bcwriter}">임성윤</strong><span th:text="${bcomment.bcdate}">2020-08-01</span><span style="visibility: hidden;" th:text="${bcomment.bcnum}">bcnum</span>
								
								 
								<button data-toggle="modal" data-target="#myModal2" th:data-id="${bcomment.bcnum}" th:data-name="${bcomment.bcwriter}" th:data-content="${bcomment.bccontent}" class="reply">대댓</button>
								
								
								<th:block th:if = "${who} == ${bcomment.employee.hdcode} " >
              					<button data-toggle="modal" data-target="#myModal" th:onclick="bcommentupdate([[${bcomment.bcnum}]])">수정</button>
				              	</th:block>
				              	<th:block th:unless = "${who} == ${bcomment.employee.hdcode} ">
				              	<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				              			<button data-toggle="modal" data-target="#myModal" th:onclick="bcommentupdate([[${bcomment.bcnum}]])">수정</button>
				              	</th:block>
				              	</th:block>
								
								
								
								 
								
								
<!-- 								<strong th:text="${bcomment.employee.hdcode}">임성윤</strong> -->
<!-- 								<strong th:text="${who}">임성윤</strong> -->
								
								
								<form th:action="@{/user.bcommnetdelete}" method="post" style="display: inline;">
									<input type="hidden" th:value="${board.bnum}" name="bnum"/>
									<input type="hidden" th:value="${bcomment.bcnum}" name="bcnum"/>
									
								<th:block th:if = "${who} == ${bcomment.employee.hdcode} " >
              					<button type="button" class="bcommentdelete">삭제</button>
				              	</th:block>
				              	<th:block th:unless = "${who} == ${bcomment.employee.hdcode} ">
				              	<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				              			<button type="button" class="bcommentdelete">삭제</button>
				              	</th:block>
				              	</th:block>	
								 	
								 	
								 </form>
								 
								 
								<br />
								
								<span th:text="${bcomment.bccontent}" style="margin: 0;padding-left: 10px;">You successfully read this important alert message.</span>
								</div>
								
								<br />
								
								
							</div>
							</div>
						</div>						
					</div>		
					
					
									<form th:action="@{/user.boarddetail}" method="post">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">댓글을 입력해주세요</label>
<!--                                             <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email"  style="height: 80px; "> -->
                                            <textarea class="form-control" rows="3" style="resize: none;" name="bccontent"></textarea>
                                        </div>
                                        	<input type="hidden" th:value="${board.bnum}" name="bnum"/>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block" >Submit</button>
                                    </form>
                                    
                               
            </div>
          
				  <!--  Modals1-->
                   
                        
                       
<!--                             <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> -->
<!--                               Click  Launch Demo Modal -->
<!--                             </button> -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel1" ><th:text>댓글 수정하기</th:text></h4>
                                        </div>
                                        <form th:action="@{/user.bcommentupdate}" method="post">
                                        <div class="modal-body" >
                                            <textarea id="bcommentupdate" class="form-control" rows="3" style="resize: none;" name="bccontent"></textarea>
                                        </div>
                                        <input type="hidden" id="bcommentupdate_bcwriter" name="bcwriter"  value="" />
<!--                                         <input type="hidden" id="bcommentupdate_bcreply" name="bcreply" value=""/> --><!-- 이놈이 문제냐? -->
                                        <input type="hidden" value="" id="bcommentupdate_bcnum" name="bcnum"/>
                                        <input type="hidden" th:value="${board.bnum}" name="bnum"/>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                       
                     <!-- End Modals-->
                     				  <!--  Modals2-->
                   
                        
                       <!--
<!--                             <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> -->
<!--                               Click  Launch Demo Modal -->
<!--                             </button> -->
                            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel2" ><th:text>대댓</th:text></h4>
                                            <input type="text" value="" class="form-control" id="thiscontent"  readonly="readonly"/>
                                            <h4>댓글에 댓글 남기기</h4>
                                        </div>
                                        <form th:action="@{/user.bcommentreply}" method="post">
                                        <div class="modal-body" >
                                           <textarea rows="" cols="" id="replycontent" class="form-control" name="bccontent" style="resize: none;"></textarea>
                                        </div>
                                       
                                    
                                        <input type="hidden" value=""  id="thisbcnum" name="thisbcnum"/>
                                        <input type="hidden" th:value="${board.bnum}" name="bnum"/>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">입력하기</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                       
                     <!-- End Modals-->
           
</th:block>

<th:block layout:fragment="script">
 <script >
 	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
	
	var jsondata =null;
 function bcommentupdate(bcnum){
		var bcnum = bcnum
		//console.log(bcnum)
		$.ajax({
            type: "POST",
            url: "/user.bcommentupdate_modal",
            dataType : 'text',
            data: {'bcnum':bcnum},
            beforeSend : function(xhr)
            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
            },
            success: function (data) {
            	jsondata=JSON.parse(data)
            //	console.log(jsondata.bcnum)
            //   console.log(data)
               $('#bcommentupdate').html(jsondata.bccontent)
               
          //     console.log($('#bcommentupdate_bcnum').val())
               
               $('#bcommentupdate_bcnum').val(jsondata.bcnum)
               
         //      console.log($('#bcommentupdate_bcnum').val())
               $('#bcommentupdate_bcwriter').val(jsondata.bcwriter)
               $('#bcommentupdate_bcreply').val(jsondata.bcreply)
               
            },
            error: function (e) {
          //      console.log("ERROR : ", e);

            }
        });
 }
			window.onload=function(){
				/*<![CDATA[*/
				var e ="[[ ${board.bcontent} ]]";
				/*]]>*/
			//	console.log(e)
				$('#asdf').text(e)
				//$('#asdf').val("sdf")
				
				$('.bcommentdelete').click(function() {
					$(this).parent().submit();
				})
				
				$('.reply').click(function() {
					$('#thisbcnum').val($(this).data('id'))
					$('#thiscontent').val($(this).data('content'))
					$('#myModalLabel2').html($(this).data('name')+' 님의')
					
				})
				
				
			}
			
			</script>


</th:block>

</html>