<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorator="~{layouts/layout}">
<th:block layout:fragment="content">
		<div class="header"> 
		
                        <h1 class="page-header">
                            Dashboard <small>Welcome John 윤</small>
                        </h1>
						<ol class="breadcrumb">
					  <li><a href="#">Home</a></li>
					  <li><a href="#">Dashboard</a></li>
					  <li class="active">Data</li>
					</ol> 
									
		</div>
            <div id="page-inner">
<!--             	<h1> 하이루</h1> -->
            	
			  
				

				<div class="jumbotron">
                        <h1 th:text="${board.btitle}">제목</h1>
                        
                        <hr />
                        <th:block th:utext="${board.bcontent}"></th:block>

              	</div > 	
              	<div class="row">
              	<div  class="col-sm-3">
              	<a th:href="@{/user.board(nowpage=(${session.nowpage}))}"><button type="button" class="btn btn-lg btn-primary" disabled>뒤로가기</button></a>
              	</div>
              	<div  class="col-sm-3">
              	<a th:href="@{/user.boardupdate(bnum=${board.bnum})}"><button type="button" class="btn btn-lg btn-info" disabled>수    정</button></a>
              	</div>
              	<div  class="col-sm-3">
              	<a th:href="@{/user.boarddelete(bnum=${board.bnum})}"><button type="button" class="btn btn-lg btn-warning" disabled>삭    제</button></a>
              	</div>
              	<div  class="col-sm-3">
              	<button type="button" class="btn btn-lg btn-primary" disabled>Primary button</button>
              	</div>
              	
				</div>
            </div>
          
				 
           
</th:block>

<th:block layout:fragment="script">
 <script>
            
			window.onload=function(){
				/*<![CDATA[*/
				var e ="[[ ${board.bcontent} ]]";
				/*]]>*/
				console.log(e)
				$('#asdf').text(e)
				//$('#asdf').val("sdf")
			}
			
			</script>


</th:block>

</html>