<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorator="~{layouts/layout}">
<th:block layout:fragment="content">
		<div class="header"> 
		
                        <h1 class="page-header">
                            Dashboard <small>Welcome John 윤</small>
                        </h1>
						<ol class="breadcrumb">
					  <li><a href="#">Home</a></li>
					  <li><a href="#">Dashboard</a></li>
					  <li class="active">Data</li>
					</ol> 
									
		</div>
            <div id="page-inner">
<!--             	<h1> 하이루</h1> -->
            	
			  
				

				<div class="row">
				<div class="col-md-12">
				
					<!--    Hover Rows  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            게시판
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-1 text-center">번호</th>
                                            <th class="col-xs-4 text-center">제목</th>
                                            <th class="col-xs-1 text-center">작성자</th>
                                            <th class="col-xs-1 text-center">날짜</th>
                                            <th class="col-xs-1 text-center">조회수</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="list : ${boardlist}">
                                            <td th:text="${list.bnum}">번호</td>
                                            <td th:text="${list.btitle}">제목</td>
                                            <td th:text="${list.employee.hd_name}">작성자</td>
                                            <td th:text="${list.bdate}">@날짜</td>
                                            <td th:text="${list.bhit}">조회수</td>
                                        </tr>
                                     
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <div class="row" style="padding-right: 30px;">
                        <a th:href="@{/user.boardwrite}"><button class="btn btn-primary  pull-right" >글작성</button></a>
                        </div>
                        
                  	<div class="row">
                  	
<!-- 					<div class="col-sm-5"></div> -->
<!-- 					<div class="col-sm-4"> -->
					<div style="text-align: center;">
					<form action="" class="form-inline">
					<select name="type" style="display: inline-block;"  class="selectbox">
					    <option value="">작성자</option>
					    <option value="">내용</option>
					   
					</select>
                        <div class="form-group">
<!--                             <label for="exampleInputName2">Name</label> -->
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                            <button class="btn btn-primary" >찾기</button>
                        </div>
                        
					</form>
					</div>
<!-- 					</div> -->
                  </div>
                  
                  
                    <div class="row text-center">
                    <ul class="pagination">
					<!-- li태그의 클래스에 disabled를 넣으면 마우스를 위에 올렸을 때 클릭 금지 마크가 나오고 클릭도 되지 않는다.-->
					<!-- disabled의 의미는 앞의 페이지가 존재하지 않다는 뜻이다. -->
					<li class="disabled" id="leftstage">
					<a href="#">
					<span>«</span>
					</a>
					</li>
					<!-- li태그의 클래스에 active를 넣으면 색이 반전되고 클릭도 되지 않는다. -->
					<!-- active의 의미는 현재 페이지의 의미이다. -->
					<li class="active"><a href="#" id="page1">1</a></li>
					<li><a href="#" id="page2">2</a></li>
					<li><a href="#" id="page3">3</a></li>
					<li><a href="#" id="page4">4</a></li>
					<li><a href="#" id="page5">5</a></li>
					<li class="disabled" id="rightstage">
					<a href="#">
					<span>»</span>
					</a>
					</li>
					</ul>
					</div>
                        
                    </div>
                    <!-- End  Hover Rows  -->






				
				</div>		
				</div> 	

            </div>

				 
           
</th:block>

<th:block layout:fragment="script">
<script>

window.onload=function(){
	/*<![CDATA[*/
    var totalcount = "[[${totalcount}]]";
	var size =15;
    console.log(totalcount);
    console.log(totalcount/size)
	/*]]>*/
	var stagecount = 0;
	console.log("stagecount"+stagecount)
	pagetextplus()
	pagetextminus()
	if(parseInt(totalcount/size) >= 5){
		console.log('azzz')
		$('#rightstage').removeClass('disabled')
	}
	
	
	
	$('#rightstage').click(function() {
		stagecount = stagecount+1;
		pagetextplus()
		console.log("stagecount1"+stagecount)
	})
	$('#leftstage').click(function() {
		
		if(stagecount===0){
			//$('#leftstage').attr("class", "disabled")
			$('#leftstage').addClass("disabled")
		}else{
			$('#leftstage').removeClass('disabled')
			stagecount = stagecount-1;
			pagetextminus()
		}
		
		console.log("stagecount2"+stagecount)
	})
	
	
	
	
	
	$('tbody tr').click(function() {
		//alert($(this).children().first().text())
		location.href="/user.boarddetail?bnum="+$(this).children().first().text();
	})
	
	$('#page1').parent().click(function() {
		removeactiveclass()
		$(this).attr("class", "active")
	})
	$('#page2').parent().click(function() {
		removeactiveclass()
		$(this).attr("class", "active")
	})
	$('#page3').parent().click(function() {
		removeactiveclass()
		$(this).attr("class", "active")
	})
	$('#page4').parent().click(function() {
		removeactiveclass()
		$(this).attr("class", "active")
	})
	$('#page5').parent().click(function() {
		removeactiveclass()
		$(this).attr("class", "active")
	})
	
	
	function removeactiveclass(){
		$( '#page1' ).parent().removeClass( 'active' );
		$( '#page2' ).parent().removeClass( 'active' );
		$( '#page3' ).parent().removeClass( 'active' );
		$( '#page4' ).parent().removeClass( 'active' );
		$( '#page5' ).parent().removeClass( 'active' );
	}
	
	function pagetextplus(){
		$('#page1').text(parseInt($('#page1').text())+4)
		$('#page2').text(parseInt($('#page2').text())+4)
		$('#page3').text(parseInt($('#page3').text())+4)
		$('#page4').text(parseInt($('#page4').text())+4)
		$('#page5').text(parseInt($('#page5').text())+4)
	}
	
	function pagetextminus(){
		$('#page1').text(parseInt($('#page1').text())-4)
		$('#page2').text(parseInt($('#page2').text())-4)
		$('#page3').text(parseInt($('#page3').text())-4)
		$('#page4').text(parseInt($('#page4').text())-4)
		$('#page5').text(parseInt($('#page5').text())-4)
	}
	
}

</script>


</th:block>


</html>