<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorator="~{layouts/layout}">
<th:block layout:fragment="content">
		<div class="header"> 
		
                        <h1 class="page-header">
                            Dashboard <small>Welcome John 윤</small>
                        </h1>
						<ol class="breadcrumb">
					  <li><a href="#">Home</a></li>
					  <li><a href="#">Dashboard</a></li>
					  <li class="active">Data</li>
					</ol> 
									
		</div>
            <div id="page-inner">

            	<!-- form 안에 에디터를 사용하는 경우 (보통 이경우를 많이 사용하는듯)-->
				<form method="post">
				  <textarea id="summernote" name="editordata"></textarea>
				</form>
			  
				

				<div class="jumbotron">
                        <h1>제목</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing.</p>

              	</div> 	

            </div>
            <div id="morris-bar-chart" style="visibility: hidden;"></div>
				<div id="morris-line-chart" style="visibility: hidden;"></div>
				<div id="morris-area-chart" style="visibility: hidden;"></div>
				 <div id="morris-donut-chart" style="visibility: hidden;"></div>
				 
            <script>
            
			window.onload=function(){
				//alert('<link href="assets/css/select2.min.css" rel="stylesheet" >')
				
			}
			
			</script>
</th:block>
<th:block layout:fragment="script">
<script th:src="@{summernote/summernote-lite.js}"></script>
<script th:src="@{summernote/summernote-ko-KR.js}"></script>

<script>
window.onload=function(){
	alert('asdf')
	//여기 아래 부분
	$('#summernote').summernote({
		  height: 300,                 // 에디터 높이
		  minHeight: null,             // 최소 높이
		  maxHeight: null,             // 최대 높이
		  focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
		  lang: "ko-KR",					// 한글 설정
		  placeholder: '최대 2048자까지 쓸 수 있습니다'	//placeholder 설정
          
	});
}
</script>

</th:block>




<th:block layout:fragment="css">
       <link rel="stylesheet" th:href="@{summernote/summernote-lite.css}">
</th:block>

</html>