<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorator="~{layouts/layout}">


<th:block layout:fragment="content">
		<div class="header"> 
		
                        <h1 class="page-header">
<!--                             Dashboard <small>Welcome John 윤</small> -->
                        </h1>
						<ol class="breadcrumb">
					  <li>서류관리</li>
					</ol> 
									
		</div>
            <div id="page-inner">
				<div class="row">
                <div class="col-md-12">
                     <!--    Hover Rows  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           완료된 서류 
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="completedoc">
                                    <thead>
                                        <tr>
                                            <th>서류번호</th>
                                            <th>서류제목</th>
                                            <th>기안자</th>
                                            <th>작성일</th>
                                            <th>진행상황</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody id="comajaxtable">
                                        <tr th:each="doc : ${completedoc}" class="completedoc">
                                        	<td th:text="${doc.docnum}"></td>
                                        	<td th:text="${doc.doctitle}"></td>
                                        	<th th:text="${doc.docdrafter.hdname}"></th>
                                        	<td th:text="${doc.docdate}"></td>
                                        	
                                        	<th:block th:if="${doc.docstatus == 3}">
                                        	<td th:text="최종"></td>
                                        	</th:block>
                                        </tr>
                                    </tbody>
                                   
                                </table>
                            </div>
                        </div>
                        <nav aria-label="Page navigation example" id="completedocpaging">
						  <ul class="pagination" style="margin-left: 35%">
						    <li class="page-item"><a class="page-link" id="com_pre">◀</a></li>
						    <li class="page-item"><a class="page-link" id="com_1" >1</a></li>
						    <li class="page-item"><a class="page-link" id="com_2" >2</a></li>
						    <li class="page-item"><a class="page-link" id="com_3" >3</a></li>
						    <li class="page-item"><a class="page-link" id="com_4" >4</a></li>
						    <li class="page-item"><a class="page-link" id="com_5" >5</a></li>
						    <li class="page-item"><a class="page-link" id="com_next" >▶</a></li>
						  </ul>
						</nav>
                    </div>
                    <!-- End  Hover Rows  -->
                </div>
                
            </div>
            
            
            
            <div class="row">
                <div class="col-md-12">
                     <!--    Hover Rows  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           진행중인 서류
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="ingdoc">
                                    <thead>
                                        <tr>
                                             <th>서류번호</th>
                                            <th>서류제목</th>
                                            <th>기안자</th>
                                            <th>작성일</th>
                                            <th>진행상황</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ingajaxtable">
                                        <tr th:each="doc : ${ingdoc}" class="ingdoc">
                                       
                                        <th:block th:switch="${doc.docstatus}">
<!--                                         <p>[[${doc.docthirdemp.hdcode}]]</p> -->
<!--                                         <p>[[${myemp.hdcode}]]</p> -->
                                        	<th:block th:case="0">
										<!--   1차결재  자와 기안자만 보게-->
										
                                        		<th:block th:if="${doc.docfirstemp != null}" >
                                        		
	                                        		<th:block th:if="${doc.docfirstemp.hdcode}==${myemp.hdcode} or ${doc.docdrafter.hdcode}==${myemp.hdcode}">
	                                        			<td th:text="${doc.docnum}"></td>
			                                        	<td th:text="${doc.doctitle}"></td>
			                                        	<th th:text="${doc.docdrafter.hdname}"></th>
			                                        	<td th:text="${doc.docdate}"></td>
			                                        	
				                                        	<th:block th:switch="${doc.docstatus}">
				                                        		<td th:case="0"> 1차결재진행중</td>
				                                        		<td th:case="1"> 2차결재진행중</td>
				                                        		<td th:case="2"> 3차결재진행중</td>
				                                        	</th:block>
	                                        		</th:block>
		                                        </th:block>	
                                        	</th:block>
                                        	<th:block th:case="1">
<!--                                         		<!--   2차결재  자와 기안자만 보게-->
                                        		<th:block th:if="${doc.docsecondemp != null}" >
	                                        		<th:block th:if="${doc.docsecondemp.hdcode}==${myemp.hdcode} or ${doc.docdrafter.hdcode}==${myemp.hdcode}">
	                                        			<td th:text="${doc.docnum}"></td>
			                                        	<td th:text="${doc.doctitle}"></td>
			                                        	<th th:text="${doc.docdrafter.hdname}"></th>
			                                        	<td th:text="${doc.docdate}"></td>
			                                        	
				                                        	<th:block th:switch="${doc.docstatus}">
				                                        		<td th:case="0"> 1차결재진행중</td>
				                                        		<td th:case="1"> 2차결재진행중</td>
				                                        		<td th:case="2"> 3차결재진행중</td>
				                                        	</th:block>
	                                        		</th:block>
		                                        </th:block>	
                                        	</th:block>
                                        	<th:block th:case="2">
<!--                                         		<!--   3차결재  자와 기안자만 보게-->
                                        		<th:block th:if="${doc.docthirdemp != null}" >
	                                        		<th:block th:if="${doc.docthirdemp.hdcode}==${myemp.hdcode} or ${doc.docdrafter.hdcode}==${myemp.hdcode}">
	                                        			<td th:text="${doc.docnum}"></td>
			                                        	<td th:text="${doc.doctitle}"></td>
			                                        	<th th:text="${doc.docdrafter.hdname}"></th>
			                                        	<td th:text="${doc.docdate}"></td>
			                                        	
				                                        	<th:block th:switch="${doc.docstatus}">
				                                        		<td th:case="0"> 1차결재진행중</td>
				                                        		<td th:case="1"> 2차결재진행중</td>
				                                        		<td th:case="2"> 3차결재진행중</td>
				                                        	</th:block>
	                                        		</th:block>
		                                        </th:block>	
                                        	</th:block>
                                       </th:block> 	
                                       
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <nav aria-label="Page navigation example"  id="ingdocpaging">
							  <ul class="pagination" style="margin-left: 35%">
							    <li class="page-item"><a class="page-link" id="ing_pre" >◀</a></li>
							    <li class="page-item"><a class="page-link" id="ing_1" >1</a></li>
							    <li class="page-item"><a class="page-link" id="ing_2" >2</a></li>
							    <li class="page-item"><a class="page-link" id="ing_3" >3</a></li>
							    <li class="page-item"><a class="page-link" id="ing_4" >4</a></li>
						   		<li class="page-item"><a class="page-link" id="ing_5" >5</a></li>
							    <li class="page-item"><a class="page-link" id="ing_next" >▶</a></li>
							  </ul>
							</nav>
                    </div>
                    <!-- End  Hover Rows  -->
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-12">
                     <!--    Hover Rows  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            기각서류
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="ignoredoc">
                                    <thead>
                                        <tr>
                                             <th>서류번호</th>
                                            <th>서류제목</th>
                                            <th>기안자</th>
                                            <th>작성일</th>
                                            <th>진행상황</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ignajaxtable">
                                        <tr th:each="doc : ${ignoredoc}" class="ignoredoc">
                                       
                                        	<th:block th:if="${doc.docdrafter.hdcode} == ${myemp.hdcode}">
	                                        	<td th:text="${doc.docnum}"></td>
	                                        	<td th:text="${doc.doctitle}"></td>
	                                        	<th th:text="${doc.docdrafter.hdname}"></th>
	                                        	<td th:text="${doc.docdate}"></td>
	                                        	<th:block th:if="${doc.docstatus == -1}">
	                                        	<td th:text="기각됨"></td>
	                                        	</th:block>
                                        	</th:block>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <nav aria-label="Page navigation example" id="ignoredocpaging">
						  <ul class="pagination" style="margin-left: 35%">
						    <li class="page-item"><a class="page-link" id="ign_pre">◀</a></li>
						    <li class="page-item"><a class="page-link" id="ign_1" >1</a></li>
						    <li class="page-item"><a class="page-link" id="ign_2" >2</a></li>
						    <li class="page-item"><a class="page-link" id="ign_3" >3</a></li>
						    <li class="page-item"><a class="page-link" id="ign_4" >4</a></li>
						    <li class="page-item"><a class="page-link" id="ign_5" >5</a></li>
						    <li class="page-item"><a class="page-link" id="ign_next" >▶</a></li>
						  </ul>
						</nav>
                    </div>
                    <!-- End  Hover Rows  -->
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-9">
                     
                </div>
                <div class="col-md-3">
                     <button type="button" class="btn btn-primary btn-lg" id="docwrite">기안하기</button>
                </div>
                
            </div>
            	
            </div>
     
           
</th:block>


<th:block layout:fragment="script">

<script>
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");
window.onload=function(){//////////////////window.onload
	$('#docwrite').click(function() {
		location.href='/user.docwrite'
	})
	
	
	$(document).one('click', '.completedoc', function() {
	//$('.completedoc').click(function() {
		var compledocnum =$(this).children(1).first().text();
//  		alert($(this).children(1).first().text())
		location.href="/user.document?docnum="+compledocnum;
	})
	
	
	$(document).one('click', '.ingdoc', function() {
	//$('.ingdoc').click(function() {
		var ingdocnum =$(this).children(1).first().text();
// 		alert($(this).children(1).first().text())
		location.href="/user.document?docnum="+ingdocnum;
	})
	
	
	$(document).one('click', '.ignoredoc', function() {
	//$('.ignoredoc').click(function() {
		var ignoredocnum =$(this).children(1).first().text();
// 		alert($(this).children(1).first().text())
		location.href="/user.document?docnum="+ignoredocnum;
	})
	
	
	
	
	
// 	$('#ajaxtest').click(function() {
// 		alert('asdfasdf')
// 		$.ajax({
// 			url:'/user.completedoc',
// 			type:'post',
// 			data:{'page':0,'size':5},
// 			beforeSend : function(xhr)
// 		    {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
// 				xhr.setRequestHeader(header, token);
// 		    },
// 			success:function(data){
// 				console.log(data)
// 				$('#ajaxtable').html(data)
// 				window.onload()
				
// 			}
// 		})
// 	})
	////completedoc paging///◀▶
	
	//변수선언
	var completedoc_max_stage=0;
	var completedoc_stage=0;
	var completedoc_now=0;
	
	
	/*<![CDATA[*/
		
  //  var totalcount = "[[${totalcount}]]";
//	var size = "[[${size}]]";
//	var np="[[${nowpage}]]";
	var com_totalElements ="[[${completedoc_totalElements}]]"; //몇개의 서류가 있는지
	var com_totalPages ="[[${completedoc_totalPages}]]";
	var com_size = 0; //
	var com_np =0; //현재페이지
	var com_stage =0; //leftpage 또는 rightpage 누를때올라가거나 내려감
	
	var ing_totalElements ="[[${ingdoc_totalElements}]]";
	var ing_totalPages ="[[${ingdoc_totalPages}]]";
	var ing_size = 0;
	var ing_np =0;
	var ing_stage =0;
	
	var ign_totalElements ="[[${ignoredoc_totalElements}]]";
	var ign_totalPages ="[[${ignoredoc_totalPages}]]"
	var ign_size = 0;
	var ign_np =0;
	var ign_stage =0;
	
	/*]]>*/
	///////////////////////////////////////////////completedoc onload,var event START
// 		var page = $(this).text()//전송할 페이지
		var size =5 //원하면 변경 가능하다
		console.log('c'+ $(this).text())
		$('#com_1').parent().addClass('page-item active')//처음엔 1버튼 선택 국룰
		
		
		com_doc_show()
	

		
	function com_doc_show(){
		$('#com_1').show()
		$('#com_2').show()
		$('#com_3').show()
		$('#com_4').show()
		$('#com_5').show()
	}
	if(parseInt(com_totalPages) < size){ //총 페이지 수가 size(5개 디폴트) 보다 적으면 실행되서 버튼들을 감춘다
		if(com_totalPages === '4'){//페이지가 4개이면 5번 버튼 display : none
			$('#com_5').hide()
		}
		if(com_totalPages === '3'){//페이지가 3개이면 5,4번 버튼 display : none
			$('#com_5').hide()
			$('#com_4').hide()
		}
		if(com_totalPages === '2'){//페이지가 2개이면 5,4,3번 버튼 display : none
			$('#com_5').hide()
			$('#com_4').hide()
			$('#com_3').hide()
		}
		if(com_totalPages === '1'){//페이지가 1개이면 5,4,3,2번 버튼 display : none
			$('#com_5').hide()
			$('#com_4').hide()
			$('#com_3').hide()
			$('#com_2').hide()
		}
		
		if(com_totalPages === '0'){
			$('#com_5').hide()
			$('#com_4').hide()
			$('#com_3').hide()
			$('#com_2').hide()
		}
		
	}
	
	
	///////////////////////////////////////////////// completedoc onload,var event END
	
	
	///////////////////////////////////////////////ingdoc onload,var event START
//		var page = $(this).text()//전송할 페이지
//	var size =5 //원하면 변경 가능하다
	console.log('ing'+ $(this).text())
	$('#ing_1').parent().addClass('page-item active')//처음엔 1버튼 선택 국룰
	ing_doc_show()
function ing_doc_show(){
	$('#ing_1').show()
	$('#ing_2').show()
	$('#ing_3').show()
	$('#ing_4').show()
	$('#ing_5').show()
}
if(parseInt(ing_totalPages) < size){ //총 페이지 수가 size(5개 디폴트) 보다 적으면 실행되서 버튼들을 감춘다
	if(ing_totalPages === '4'){//페이지가 4개이면 5번 버튼 display : none
		$('#ing_5').hide()
	}
	if(ing_totalPages === '3'){//페이지가 3개이면 5,4번 버튼 display : none
		$('#ing_5').hide()
		$('#ing_4').hide()
	}
	if(ing_totalPages === '2'){//페이지가 2개이면 5,4,3번 버튼 display : none
		$('#ing_5').hide()
		$('#ing_4').hide()
		$('#ing_3').hide()
	}
	if(ing_totalPages === '1'){//페이지가 1개이면 5,4,3,2번 버튼 display : none
		$('#ing_5').hide()
		$('#ing_4').hide()
		$('#ing_3').hide()
		$('#ing_2').hide()
	}
	if(ing_totalPages === '0'){
		$('#ing_5').hide()
		$('#ing_4').hide()
		$('#ing_3').hide()
		$('#ing_2').hide()
	}
	
}
	
	///////////////////////////////////////////////ingdoc onload,var event END
	
///////////////////////////////////////////////ignoredoc onload,var event START
//var page = $(this).text()//전송할 페이지
//var size =5 //원하면 변경 가능하다
		console.log('ign'+ $(this).text())
		$('#ign_1').parent().addClass('page-item active')//처음엔 1버튼 선택 국룰
		ign_doc_show()
		function ign_doc_show(){
			$('#ign_1').show()
			$('#ign_2').show()
			$('#ign_3').show()
			$('#ign_4').show()
			$('#ign_5').show()
		}
		if(parseInt(ign_totalPages) < size){ //총 페이지 수가 size(5개 디폴트) 보다 적으면 실행되서 버튼들을 감춘다
			if(ign_totalPages === '4'){//페이지가 4개이면 5번 버튼 display : none
				$('#ign_5').hide()
			}
			if(ign_totalPages === '3'){//페이지가 3개이면 5,4번 버튼 display : none
				$('#ign_5').hide()
				$('#ign_4').hide()
			}
			if(ign_totalPages === '2'){//페이지가 2개이면 5,4,3번 버튼 display : none
				$('#ign_5').hide()
				$('#ign_4').hide()
				$('#ign_3').hide()
			}
			if(ign_totalPages === '1'){//페이지가 1개이면 5,4,3,2번 버튼 display : none
				$('#ign_5').hide()
				$('#ign_4').hide()
				$('#ign_3').hide()
				$('#ign_2').hide()
			}
			
			if(ign_totalPages === '0'){
				$('#ign_5').hide()
				$('#ign_4').hide()
				$('#ign_3').hide()
				$('#ign_2').hide()
			}
		}

///////////////////////////////////////////////ignoredoc onload,var event END
	
	
	
	
	
	//completedoc btn 클릭 이벤트 그거
	$(document).on('click', '#completedocpaging > ul > li', function() {
		var page = $(this).text()//전송할 페이지
		var size =5 //원하면 변경 가능하다
	//$('#completedocpaging > ul > li').on('click', function() {
		
		console.log(com_totalElements);
		console.log(com_totalPages);
		console.log(Math.ceil(parseInt(com_totalPages)/size))
		console.log(com_stage)
		
		
		
		
		if($(this).text() === '▶' && com_stage+1 < Math.ceil(parseInt(com_totalPages)/size)  ){ //오른쪽 버튼 눌렀을때 // 총페이지는 size(디폴트는 5개) 보다 커야 작동된다
			
			$('#com_1').text(parseInt($('#com_1').text())+5)
			$('#com_2').text(parseInt($('#com_2').text())+5)
			$('#com_3').text(parseInt($('#com_3').text())+5)
			$('#com_4').text(parseInt($('#com_4').text())+5)
			$('#com_5').text(parseInt($('#com_5').text())+5)
			//alert(com_stage+1)
			//alert( Math.ceil(parseInt(com_totalPages)/size))
			com_stage ++;
			if(com_stage+1 === Math.ceil(parseInt(com_totalPages)/size)){//만약 마지막 페이지 라면?
				console.log('마지막 페이지')
				console.log( ((com_stage+1)*size) -(parseInt(com_totalPages)) )
				
				
				if(((com_stage+1)*size) -(parseInt(com_totalPages)) === 4){ //1번 버튼만 보여준다
					$('#com_5').hide()
					$('#com_4').hide()
					$('#com_3').hide()
					$('#com_2').hide()
				}else if(((com_stage+1)*size) -(parseInt(com_totalPages)) === 3){//1,2번 버튼만 보여준다
					$('#com_5').hide()
					$('#com_4').hide()
					$('#com_3').hide()
				}else if(((com_stage+1)*size) -(parseInt(com_totalPages)) === 2){//1,2,3번 버튼만 보여준다
					$('#com_5').hide()
					$('#com_4').hide()
				}else if(((com_stage+1)*size) -(parseInt(com_totalPages)) === 1){//1,2,3,4번 버튼만 보여준다
					$('#com_5').hide()
				}
			}
			
		}
		
		if($(this).text() === '◀' && com_stage > 0){//왼쪽 버튼 눌렀을때
			com_doc_show()
			$('#com_1').text(parseInt($('#com_1').text())-5)
			$('#com_2').text(parseInt($('#com_2').text())-5)
			$('#com_3').text(parseInt($('#com_3').text())-5)
			$('#com_4').text(parseInt($('#com_4').text())-5)
			$('#com_5').text(parseInt($('#com_5').text())-5)
			com_stage --;
		}
		
		$(this).siblings().removeClass('page-item active')// 형제 클릭 활성화 지우기
		$(this).siblings().addClass('page-item')// 형제 클릭 디폴트로
		
		$(this).addClass('page-item active')//선택된것은 클릭
		
		if($(this).text() != '◀' && $(this).text() != '▶' ){
			$.ajax({////그냥 페이지 버튼 눌렀을땐 이게 실행 되어야 한다
				url:'/user.completedoc',
				type:'post',
				data:{'page':page,'size':size},
				dataType:'html',
				beforeSend : function(xhr)
			    {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
			    },
				success:function(data){
					//console.log(data)
					
					$('#comajaxtable').html(data)
					
					
				}
			})
		}
	});
	//ingdoc 클릭 이벤트
	$(document).on('click', '#ingdocpaging > ul > li', function() {
		var page = $(this).text()//전송할 페이지
		var size =5 //원하면 변경 가능하다
	//$('#completedocpaging > ul > li').on('click', function() {
		
		console.log('ing'+ing_totalElements);
		console.log('ing'+ ing_totalPages);
		console.log('ing'+ Math.ceil(parseInt(ing_totalPages)/size))
		console.log('ing'+ ing_stage)
		
		
		
		
		if($(this).text() === '▶' && ing_stage+1 < Math.ceil(parseInt(ing_totalPages)/size)  ){ //오른쪽 버튼 눌렀을때 // 총페이지는 size(디폴트는 5개) 보다 커야 작동된다
			
			$('#ing_1').text(parseInt($('#ing_1').text())+5)
			$('#ing_2').text(parseInt($('#ing_2').text())+5)
			$('#ing_3').text(parseInt($('#ing_3').text())+5)
			$('#ing_4').text(parseInt($('#ing_4').text())+5)
			$('#ing_5').text(parseInt($('#ing_5').text())+5)
			//alert(com_stage+1)
			//alert( Math.ceil(parseInt(com_totalPages)/size))
			ing_stage ++;
			if(ing_stage+1 === Math.ceil(parseInt(ing_totalPages)/size)){//만약 마지막 페이지 라면?
				console.log('마지막 페이지')
				console.log( ((ing_stage+1)*size) -(parseInt(ing_totalPages)) )
				
				
				if(((ing_stage+1)*size) -(parseInt(ing_totalPages)) === 4){ //1번 버튼만 보여준다
					$('#ing_5').hide()
					$('#ing_4').hide()
					$('#ing_3').hide()
					$('#ing_2').hide()
				}else if(((ing_stage+1)*size) -(parseInt(ing_totalPages)) === 3){//1,2번 버튼만 보여준다
					$('#ing_5').hide()
					$('#ing_4').hide()
					$('#ing_3').hide()
				}else if(((ing_stage+1)*size) -(parseInt(ing_totalPages)) === 2){//1,2,3번 버튼만 보여준다
					$('#ing_5').hide()
					$('#ing_4').hide()
				}else if(((ing_stage+1)*size) -(parseInt(ing_totalPages)) === 1){//1,2,3,4번 버튼만 보여준다
					$('#ing_5').hide()
				}
			}
			
		}
		
		if($(this).text() === '◀' && ing_stage > 0){// ing왼쪽 버튼 눌렀을때
			ing_doc_show()
			$('#ing_1').text(parseInt($('#ing_1').text())-5)
			$('#ing_2').text(parseInt($('#ing_2').text())-5)
			$('#ing_3').text(parseInt($('#ing_3').text())-5)
			$('#ing_4').text(parseInt($('#ing_4').text())-5)
			$('#ing_5').text(parseInt($('#ing_5').text())-5)
			ing_stage --;
		}
		
		$(this).siblings().removeClass('page-item active')// 형제 클릭 활성화 지우기
		$(this).siblings().addClass('page-item')// 형제 클릭 디폴트로
		
		$(this).addClass('page-item active')//선택된것은 클릭
		
		if($(this).text() != '◀' && $(this).text() != '▶' ){
			$.ajax({////그냥 페이지 버튼 눌렀을땐 이게 실행 되어야 한다
				url:'/user.ingdoc',
				type:'post',
				data:{'page':page,'size':size},
				dataType:'html',
				beforeSend : function(xhr)
			    {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
			    },
				success:function(data){
					//console.log(data)
					
					$('#ingajaxtable').html(data)
					
					
				}
			})
		}
	});
	
	
	//기각 페이징 클릭 이벤트
	$(document).on('click', '#ignoredocpaging > ul > li', function() {
		var page = $(this).text()//전송할 페이지
		var size =5 //원하면 변경 가능하다
	//$('#completedocpaging > ul > li').on('click', function() {
		
		console.log('ign'+ign_totalElements);
		console.log('ign'+ ign_totalPages);
		console.log('ign'+ Math.ceil(parseInt(ign_totalPages)/size))
		console.log('ign'+ ign_stage)
		
		
		
		
		if($(this).text() === '▶' && ign_stage+1 < Math.ceil(parseInt(ign_totalPages)/size)  ){ //오른쪽 버튼 눌렀을때 // 총페이지는 size(디폴트는 5개) 보다 커야 작동된다
			
			$('#ign_1').text(parseInt($('#ign_1').text())+5)
			$('#ign_2').text(parseInt($('#ign_2').text())+5)
			$('#ign_3').text(parseInt($('#ign_3').text())+5)
			$('#ign_4').text(parseInt($('#ign_4').text())+5)
			$('#ign_5').text(parseInt($('#ign_5').text())+5)
			//alert(com_stage+1)
			//alert( Math.ceil(parseInt(com_totalPages)/size))
			ign_stage ++;
			if(ign_stage+1 === Math.ceil(parseInt(ign_totalPages)/size)){//만약 마지막 페이지 라면?
				console.log('마지막 페이지')
				console.log( ((ign_stage+1)*size) -(parseInt(ign_totalPages)) )
				
				
				if(((ign_stage+1)*size) -(parseInt(ign_totalPages)) === 4){ //1번 버튼만 보여준다
					$('#ign_5').hide()
					$('#ign_4').hide()
					$('#ign_3').hide()
					$('#ign_2').hide()
				}else if(((ign_stage+1)*size) -(parseInt(ign_totalPages)) === 3){//1,2번 버튼만 보여준다
					$('#ign_5').hide()
					$('#ign_4').hide()
					$('#ign_3').hide()
				}else if(((ign_stage+1)*size) -(parseInt(ign_totalPages)) === 2){//1,2,3번 버튼만 보여준다
					$('#ign_5').hide()
					$('#ign_4').hide()
				}else if(((ign_stage+1)*size) -(parseInt(ign_totalPages)) === 1){//1,2,3,4번 버튼만 보여준다
					$('#ign_5').hide()
				}
			}
			
		}
		
		if($(this).text() === '◀' && ign_stage > 0){// ing왼쪽 버튼 눌렀을때
			ign_doc_show()
			$('#ign_1').text(parseInt($('#ign_1').text())-5)
			$('#ign_2').text(parseInt($('#ign_2').text())-5)
			$('#ign_3').text(parseInt($('#ign_3').text())-5)
			$('#ign_4').text(parseInt($('#ign_4').text())-5)
			$('#ign_5').text(parseInt($('#ign_5').text())-5)
			ign_stage --;
		}
		
		$(this).siblings().removeClass('page-item active')// 형제 클릭 활성화 지우기
		$(this).siblings().addClass('page-item')// 형제 클릭 디폴트로
		
		$(this).addClass('page-item active')//선택된것은 클릭
		
		if($(this).text() != '◀' && $(this).text() != '▶' ){
			$.ajax({////그냥 페이지 버튼 눌렀을땐 이게 실행 되어야 한다
				url:'/user.ignoredoc',
				type:'post',
				data:{'page':page,'size':size},
				dataType:'html',
				beforeSend : function(xhr)
			    {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
			    },
				success:function(data){
					//console.log(data)
					
					$('#ignajaxtable').html(data)
					
					
				}
			})
		}
	});
	
	
	
}//////////////////window.onload 끝
</script>



</th:block>




<th:block layout:fragment="css">
     
</th:block>
</html>