<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorator="~{layouts/layout}">


<th:block layout:fragment="content">
		
		<div class="header"> 
		
                        <h1 class="page-header">
<!--                             Dashboard <small>Welcome John 윤</small> -->
                        </h1>
						<ol class="breadcrumb">
					  <li><a href="#">Home</a></li>
					  <li><a href="#">Dashboard</a></li>
					  <li class="active">Data</li>
					</ol> 
									
		</div>
	
            <div id="page-inner">
            <form method="post" th:action="@{/user.docwrite}">
            	<div style="margin-left: 20%; ">
            	<th:block sec:authorize="hasAnyRole('ROLE_USER')">
            		<label for="">1차결재자 : </label>
            		<select name="docfirstemp_hdcode">
            		
            		<th:block th:if="${myemp.hdlevel} == 'USER'">
            			<option th:text ="${myemp.hdname}" th:value="${myemp.hdcode}"></option>
            		</th:block>
            		<th:block th:unless="${myemp.hdlevel} == 'USER'">
            		<option>1차결재자</option>
            		<th:block th:each="user : ${userlist}" >
            		
             			<option th:text ="${user.hdname}" th:value="${user.hdcode}"></option>
            		 
					</th:block>
					</th:block>
					
					</select>
				</th:block>
				<th:block sec:authorize="hasAnyRole('ROLE_MEMBER','ROLE_USER')">
					<label for="">2차결재자 : </label>
					<select name="docsecondemp_hdcode">
					
					<th:block th:if="${myemp.hdlevel} == 'MEMBER'">
            			<option th:text ="${myemp.hdname}" th:value="${myemp.hdcode}"></option>
            		</th:block>
            		<th:block th:unless="${myemp.hdlevel} == 'MEMBER'">
            		<option>2차결재자</option>
            		<th:block th:each="member : ${memberlist}">
            		
             			<option th:text ="${member.hdname}" th:value="${member.hdcode}"></option>
            		 
					</th:block>
					</th:block>
					
					</select>
					</th:block>
				<th:block sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MEMBER','ROLE_USER')">
					<label for="">3차결재자 : </label>	
					<select name="docthirdemp_hdcode">
					
					<th:block th:if="${myemp.hdlevel} == 'ADMIN'">
            			<option th:text ="${myemp.hdname}" th:value="${myemp.hdcode}"></option>
            		</th:block>
            		<th:block th:unless="${myemp.hdlevel} == 'ADMIN'">
            		<option>1차결재자</option>
            		<th:block th:each="admin : ${adminlist}">
            		
             			<option th:text ="${admin.hdname}" th:value="${admin.hdcode}"></option>
            		 
					</th:block>
					</th:block>
					
					</select>
				</th:block>
            	</div>
            	<br />
            	<br />
				
					<h1 style="text-align: center;">제목</h1>
					<br />
					<input type="text" class="form-control" placeholder="제목" id="btitle" name="doctitle"  />
					<hr />
					<h2 style="text-align: center;">내용</h2>
					<br />
				  <textarea id="summernote" name="doccontent" ></textarea>
				  <div style="border: 1px solid black;height: 100px; background: lightgray; text-align: center; " class="form-group">
				  파일을 끌어오세요
				  </div>
				  <input type="button" class="btn btn-primary btn-lg btn-block" id="submit" value="기안하기" />
				  <a th:href="@{/user.docmanage}"><button type="button" class="btn btn-warning btn-lg btn-block">뒤로가기</button></a>
				</form>
			  
				

<!-- 				<div class="jumbotron"> -->
<!--                         <h1>제목</h1> -->
<!--                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing.</p> -->

<!--               	</div> 	 -->

            </div>
     
           
</th:block>


<th:block layout:fragment="script">
<script th:src="@{summernote/summernote-lite.js}"></script>
<script th:src="@{summernote/summernote-ko-KR.js}"></script>

<script>
window.onload=function(){
	
	
	//alert('asdf')
	//여기 아래 부분
	$('#summernote').summernote({
		  height: 300,                 // 에디터 높이
		  minHeight: null,             // 최소 높이
		  maxHeight: null,             // 최대 높이
		  focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
		  lang: "ko-KR",					// 한글 설정
		  placeholder: '최대 2048자까지 쓸 수 있습니다',	//placeholder 설정
		  callbacks:{
			  onImageUpload:function(files){
				  uploadSummernoteImageFile(files[0],this)
			  }
		  }
          
	});
	

	function uploadSummernoteImageFile(file, editor){
		console.log('asdf')
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		var data = new FormData();
		data.append('file',file);
		$.ajax({
			data:data,
			type: "POST",
			url:' /user.documentwriteimg',
			//cache:false,
			contentType:false,
			enctype:'multipart/form-data',
			beforeSend : function(xhr)
            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
            },
			processData:false,
			success:function(data){
				console.log(data)
				$(editor).summernote('insertImage',data.url);
			
			}
		})
	}
	
	
	$('#submit').click(function() {
		
		if($('#btitle').val()===""){
			$('#submit').attr("type", "button")
			alert("제목을 적어야 합니다.")
			
		}else{
			$('#submit').attr("type", "submit")
		}
	})
}
</script>

</th:block>




<th:block layout:fragment="css">
       <link rel="stylesheet" th:href="@{summernote/summernote-lite.css}">
       <style>
       select {
  width: 200px;
  padding: .8em .5em;
  font-family: inherit;
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #999;
  border-radius: 0px;
}
       </style>
</th:block>
</html>