<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorator="~{layouts/layout}">
<th:block layout:fragment="content">
		<div class="header"> 
                        <h1 class="page-header">
                            Dashboard <small>Welcome John 윤</small>
                        </h1>
						<ol class="breadcrumb">
					  <li><a href="#">Home</a></li>
					  <li><a href="#">Dashboard</a></li>
					  <li class="active">Data</li>
					</ol> 
									
		</div>
            <div id="page-inner">
            	<h1>사원관리 하이루</h1>
            	 <!-- /. ROW  -->
	



			
		
<!-- 				<div class="row"> -->
<!-- 				<div class="col-md-5"> -->
<!-- 						<div class="panel panel-default"> -->
<!-- 						<div class="panel-heading"> -->
<!-- 							Line Chart -->
<!-- 						</div> -->
<!-- 						<div class="panel-body"> -->
<!-- 							<div id="morris-line-chart"></div> -->
<!-- 						</div>						 -->
<!-- 					</div>    -->
<!-- 					</div>		 -->
					
<!-- 						<div class="col-md-7"> -->
<!-- 					<div class="panel panel-default"> -->
<!-- 					<div class="panel-heading"> -->
<!--                                 Bar Chart Example -->
<!--                             </div> -->
<!--                             <div class="panel-body"> -->
<!--                                 <div id="morris-bar-chart"></div> -->
<!--                             </div> -->
						
<!-- 					</div>   -->
<!-- 					</div> -->
					
<!-- 				</div>  -->
			  <div id="morris-bar-chart" style="visibility: hidden;"></div>
				<div id="morris-line-chart" style="visibility: hidden;"></div>
				<div id="morris-area-chart" style="visibility: hidden;"></div>
				 <div id="morris-donut-chart" style="visibility: hidden;"></div>
				
<!--                 <div class="row"> -->
<!--                     <div class="col-md-9 col-sm-12 col-xs-12"> -->
<!--                         <div class="panel panel-default">                             -->
<!-- 							<div class="panel-heading"> -->
<!-- 							Area Chart -->
<!-- 						</div> -->
<!-- 						<div class="panel-body"> -->
<!-- 							<div id="morris-area-chart"></div> -->
<!-- 						</div> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                     <div class="col-md-3 col-sm-12 col-xs-12"> -->
<!--                         <div class="panel panel-default"> -->
<!--                             <div class="panel-heading"> -->
<!--                                 Donut Chart Example -->
<!--                             </div> -->
<!--                             <div class="panel-body"> -->
<!--                                 <div id="morris-donut-chart"></div> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->

<!--                 </div> -->
				<div class="row">
				<div class="col-md-12">
				
					</div>		
				</div> 	
                <!-- /. ROW  -->

	   

                <!-- /. ROW  -->
            </div>
</th:block>
</html>